@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #29292d;
  --color-primary: #f8f7f8;
  --color-impact: #e25651;
  --color-linear: #ecefdc;
}

.halo-gradient {
  background: radial-gradient(ellipse at top , var(--color-impact) -65%, var(--color-background) 35%);
}

body {
  color: var(--color-primary);
  font-family: var(--font-noto-sans-jp);
  background-color: var(--color-background);
  
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}
.rotate-x-180 {
  transform: rotateX(180deg);
}