@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #29292d;
  --color-primary: #f8f7f8;
  --color-impact: #90a0d2;
  --color-linear: #ecefdc;
}

.halo-gradient {
  background: radial-gradient(ellipse at top , var(--color-linear) -45%, var(--color-background) 35%);
}

body {
  color: var(--color-primary);
  font-family: var(--font-noto-sans-jp);
  background-color: var(--color-background);
  
}